{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-header border-bottom d-flex justify-content-between align-items-center">
                <h5 class="mb-0">{{ title }}</h5>
            </div>
            <div class="card-body mt-3">
                <form method="POST">
                    {% csrf_token %}

                    {% for field in form %}
                    <div class="mb-3">
                        <label class="form-label fw-bold">{{ field.label }} {% if field.field.required %}<span
                                class="text-danger">*</span>{% endif %}</label>
                        {{ field }}
                        {% if field.help_text %}
                        <div class="form-text">{{ field.help_text }}</div>
                        {% endif %}
                        {% if field.errors %}
                        <div class="text-danger small mt-1">{{ field.errors|join:", " }}</div>
                        {% endif %}
                    </div>
                    {% endfor %}

                    <div class="d-flex justify-content-end mt-4 pt-3 border-top gap-2">
                        <a href="{% url cancel_url %}" class="btn btn-label-danger">Cancel</a>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}