{% extends 'base.html' %}

{% block title %}{{ action }} Section | School Management System{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-12 mx-auto">
        <div class="card mb-6">
            <div class="card-header border-bottom mb-4">
                <h5 class="card-title mb-0">{{ action }} Section</h5>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label" for="{{ form.student_class.id_for_label }}">Class *</label>
                        {{ form.student_class }}
                        {% if form.student_class.errors %}
                        <div class="text-danger mt-1"><small>{{ form.student_class.errors.0 }}</small></div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="{{ form.name.id_for_label }}">Section Name *</label>
                        {{ form.name }}
                        {% if form.name.errors %}
                        <div class="text-danger mt-1"><small>{{ form.name.errors.0 }}</small></div>
                        {% endif %}
                    </div>

                    <div class="d-flex justify-content-end mt-4">
                        <a href="{% url 'section_list' %}" class="btn btn-label-secondary me-3">Cancel</a>
                        <button type="submit" class="btn btn-primary">{{ action }} Section</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}