{% extends 'base.html' %}
{% block title %}{{ title }} | School Management System{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card">
            <div class="card-header border-bottom">
                <h5 class="card-title mb-0">{{ title }}</h5>
            </div>
            <div class="card-body mt-4">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label class="form-label fw-bold">Title *</label>
                            {{ form.title }}
                            {{ form.title.errors }}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label class="form-label fw-bold">Class *</label>
                            {{ form.student_class }}
                            {{ form.student_class.errors }}
                        </div>
                        <div class="col-md-6">
                            <label class="form-label fw-bold">Subject *</label>
                            {{ form.subject }}
                            {{ form.subject.errors }}
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col-md-6">
                            <label class="form-label fw-bold">Academic Year *</label>
                            {{ form.academic_year }}
                            {{ form.academic_year.errors }}
                        </div>
                        <div class="col-md-6">
                            <label class="form-label fw-bold">Syllabus File *</label>
                            {{ form.file }}
                            {{ form.file.errors }}
                        </div>
                    </div>

                    <div class="d-flex justify-content-end gap-2 border-top pt-3">
                        <a href="{% url 'syllabus_list' %}" class="btn btn-label-secondary">Cancel</a>
                        <button type="submit" class="btn btn-primary">Save Syllabus</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}