{% load static %}
<!doctype html>

<html
  lang="en"
  class="layout-wide customizer-hide"
  dir="ltr"
  data-skin="default"
  data-bs-theme="light"
  data-assets-path="{% static 'assets/' %}"
  data-template="vertical-menu-template">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="robots" content="noindex, nofollow" />
    <title>Email Sent | School Management System</title>

    <link rel="icon" type="image/x-icon" href="{% static 'assets/img/favicon/favicon.ico' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/iconify-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/css/core.css' %}" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{% static 'assets/vendor/css/theme-default.css' %}" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{% static 'assets/css/demo.css' %}" />
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/@form-validation/form-validation.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/css/pages/page-auth.css' %}" />
    <script src="{% static 'assets/vendor/js/helpers.js' %}"></script>
    <script src="{% static 'assets/js/config.js' %}"></script>
  </head>

  <body>
    <div class="container-xxl">
      <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner py-6">
          <div class="card">
            <div class="card-body">
              <div class="app-brand justify-content-center mb-6">
                <a href="/" class="app-brand-link">
                  <span class="app-brand-text demo text-heading fw-bold" style="font-family: var(--bs-font-sans-serif);">School.Sys</span>
                </a>
              </div>
              <h4 class="mb-1">Email Sent 📧</h4>
              <p class="mb-6">We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
              
              <p class="mb-6">If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>

              <div class="text-center">
                <a href="{% url 'login' %}" class="d-flex justify-content-center">
                  <i class="icon-base ti tabler-chevron-left scaleX-n1-rtl me-1_5"></i>
                  Back to login
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="{% static 'assets/vendor/libs/jquery/jquery.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/popper/popper.js' %}"></script>
    <script src="{% static 'assets/vendor/js/bootstrap.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/js/pages-auth.js' %}"></script>
  </body>
</html>
